<head>
    <title>Your all notes, {{user.username}}</title>
</head>
<nav class="nav">
    <a href="/in" class="logo">Your all notes</a>
    <ul>
        <li><a href="/in" class="reg"><i class="fas fa-arrow-circle-left"></i></a></li>
        <li> | </li>
        <li><a href="/logout" class="reg">Log out</a></li>
    </ul>
</nav>
<section style="margin: 2% 8% 2% 8%;">
    <div class="seciton">
        <div class="head">
            <h1 class="baslik-2"><i class="fas fa-sticky-note"></i>&emsp;All Notes</h1>
            <a href="/add" class="add"><i class="fas fa-plus"></i></a>
        </div>
        <div class="hr"></div>
        <div class="liste">
            {{#each notes}}
            <a href="/view/{{_id}}" class="kart">
                <form action="/remove/{{_id}}" method="POST">
                    <button type="submit" class="trashbutton"><i class="fas fa-trash-alt"></i></button>
                </form>
                <h1 style="color: #46147c;">{{title}}</h1>
                <span>{{date}}</span>
            </a>
            {{else}}
            <h1 style="margin-top: 2%;">You have not a note yet, Let's create click on the plus to create one </h1>
            {{/each}}

        </div>
    </div>
</section>
